<!doctype html>
<html lang="en-US">
  <head>
    <title>File-Based Content Management System</title>
    <meta charset="UTF-8">
  </head>  
  <body>
    <% if session[:message] %>
        <p><%= session.delete(:message) %></p>
    <% end %>

    <ul>
      <% @files.each do |file| %>
        <li><a href="/<%= file %>"><%= file %></a></li>
      <% end %>
    </ul>
  </body>
</html>
